@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/fundo_2.jpg);
    color:aquamarine;
    font-family: "Mynerve", cursive;  
}

header {
    padding: 2rem;
    text-align: center;
    background-color: darkred;
    border: 2px solid black;
    border-radius: 50px;
    color:rgb(50, 5, 5)
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
}

section {
    text-align: center;
    width: 300px;
    background-color: rgb(107, 47, 47);
    padding: 0.5rem;
    border: 2px solid rgb(61, 0, 0);
    border-radius: 10px;
    font-family: "Indie Flower", cursive;
    font-size: 1.3rem;
    flex-grow: 1;
}

footer {
    background-color: rgb(87, 5, 16);
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    border: 2px solid black;
    color: aliceblue;
}

.footer_nome {
    color: rgb(209, 89, 115);

}